name: Lint, Build and Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  run-lint-build-tests:
    name: Run Lint, Build and Tests
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: .
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3
      
      - name: Verify linting
        run: find ./ -iname *.c -o -iname *.h  -path ./prototype/mnist -prune | xargs clang-format --dry-run --Werror

      - name: Build files
        run: make all 

      - name: Run tests
        run: make run_all_tests
  
